<include file="Public:header"/>
<!-- 头部 -->
<include file="Public:sidebar"/>
<!-- 侧边导航栏 -->
        
<!-- 中间 -->
    <div class="wrapper">
        <div class="top">
                <img src="__IMG__/manage.png" />
                <p class="manager"><strong class="font_color" >{$_SESSION['managername']}</strong>，你好！欢迎使用 ZeroDegree 后台管理系统 V1.0！</p>
                <div class="welcome">
                    <p class="title">欢迎</p>
                    <p class="content">你好！欢迎使用 ZeroDegree 后台管理系统 V1.0！管理“计算机协会网站”！</p>
                    <p class="content"><strong class="font_color font_size" >{$_SESSION['managername']}&nbsp;</strong>是你当前登录的用户名。如果你是第一次登录你的帐号，请点击<a href="{:U('Admin/alterinformation')}" class="alter-Pw">更改初始密码</a></p>
                </div>
            </div>
            <div class="middle">
                <div class="welcome">
                    <p class="title">系统使用说明 </p>
                    <p class="content">本系统所有功能请参考左侧菜单，点击菜单将进入对应的管理页面。各个页面都有相应的版块说明，描述了该板块的内容、功能以及使用方法。</p>
                </div>
            </div>
            <div class="bottom">
                <div class="welcome">
                    <p class="title">关于本系统</p>
                    <p class="content">ZeroDegree 后台管理系统 V1.0</p>
                    <p class="content">本系统由孙梦海开发，版权归华中农业大学零度工作室所有。</p>
                    <p class="content">如果您在使用过程中遇到什么问题，或者出现漏洞、错误，请联系我，或者计科1404班。</p>
                    <p class="content">QQ：878131732 &nbsp;&nbsp;&nbsp;E-mail：878131732@qq.com</p>
                    <p class="content">联系地址：荟五636</p>
                </div>
            </div>
    </div>
</div>
</body>
</html>