<!-- 侧边导航栏 -->
<div id="nav">
 <div class="menu-p"><img src="__IMG__/12.png" class="menu"/><span>菜单</span></div>
 <p class="p">协会动态</p>
 <div>
    <a href="{:U('Admin/allactivity')}">所有动态</a>
    <a href="{:U('Admin/addactivity')}">添加动态</a>        
</div>
<p class="p">维修表单</p>
 <div>
    <a href="{:U('Admin/allform')}">所有表单</a>
</div>
<p class="p">管理员</p>
 <div>
    <a href="{:U('Admin/alterinformation')}">修改信息</a>
    <a href="{:U('Admin/admin')}">帮助信息</a>
</div>
<!-- 版权说明 -->
<p id="copyRight">© 2016&nbsp;&nbsp;HZAUCA 版权所有</p>
</div>