<div id="footer">
    	<div class="info">
    		<ul>计协特色
				<li><a href="#">在线报修</a></li>
				<li><a href="#">技术博客</a></li>
				<li><a href="#">网页制作</a></li>
				<li><a href="#">电脑硬件</a></li>
    		</ul>
    		<ul>关于我们
    			<li><a href="#">计协介绍</a></li>
    			<li><a href="#">加入我们</a></li>
    			<li><a href="#">联系我们</a></li>
    			<li><a href="#">投诉建议</a></li>
    		</ul>
    		<ul>关于我们
    			<li><a href="#">计协介绍</a></li>
    			<li><a href="#">加入我们</a></li>
    			<li><a href="#">联系我们</a></li>
    			<li><a href="#">投诉建议</a></li>
    		</ul>
    		<ul>友情链接
    			<li><a href="#">HZAU</a></li>
    			<li><a href="#">HZAU COI</a></li>
    			<li><a href="#">W3School</a></li>
    			<li><a href="#">w3cfuns</a></li>
    		</ul>
    		<div class="contact">
    			<img src="__IMG__/q.png">
    			<img src="__IMG__/w.png">
    			<img src="__IMG__/t.png">
    			<img src="__IMG__/s.png">
    		</div>
    	</div>
    		<div class="line"></div>
    		<div class="copyright">
    			<p>Copyright © 2016 HZAUCA.com All Rights Reserved.</p>
    			<p>Designed & Powered by 零度工作室<img src="__IMG__/0logo.png"></p>
    		</div>
</div>
</body>
</html>